[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.12"
